.adminToolbar{
    display: inline-block;
    width: 100%;
    background-color: white;
    height: auto;
    
    ul,li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul{
        float: right;
        li{
         display: inline-block; 
          a{
              display: block;
              font-size: 1.6rem;
              line-height: 1;
              color: black;
              padding: 10px;
              transition: all .4s ease-in-out;

              &:hover {
                  background-color: rgba(170, 87, 87, 0.6);
                  color: black;
              }

          }  
        }
    }

}