.btn{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0;
    background: black;
    color: wheat;
    line-height: 1;
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
}